html
	head
		title "Office Supplies Order Form"
		meta(charset="UTF-8")
		link(rel="stylesheet", href="styles.css")
	body(onload="init()")
		include ./partials/header
		br
		div#info
		div#main
			div#left.column.left
			div#middle.column.middle
			div#right.column.right
		script(src="client.js")