html
    head
        title "Cards"
        meta(charset="UTF-8")
    body()
        h1 List of Cards
        each val,key in cards
            a(href=`http://localhost:3000/cards/` + val.id)  #{val.name} (#{val.id})
            br