html
  head
    title addArtwork
  body
    include ./partials/header
    br
    h1 query artwork

    p enter data to query for artwork

    form(action='/artworks', method='get', enctype="application/x-www-form-urlencoded")
      each val in ["name", "artist", "minYear", "maxYear","category", "medium", "minLikes", "page"]
        label(for=val) #{val}:
        input(id=val, type="textbox", name=val)
        br
      input(type='submit' value='Submit')