html
  head
    title users query
  body
    include ./partials/header
    br
    h1 query users

    p enter data to query for users

    form(action='/users', method='get', enctype="application/x-www-form-urlencoded")
      each val in ["username", "following","page"]
        label(for=val) #{val}:
        input(id=val, type="textbox", name=val)
        br
      input(type='submit' value='Submit')